/* Mocha */
:root {
  --mocha_rosewater: rgb(245, 224, 220);
  --mocha_flamingo: rgb(242, 205, 205);
  --mocha_pink: rgb(245, 194, 231);
  --mocha_mauve: rgb(203, 166, 247);
  --mocha_red: rgb(243, 139, 168);
  --mocha_maroon: rgb(235, 160, 172);
  --mocha_peach: rgb(250, 179, 135);
  --mocha_yellow: rgb(249, 226, 175);
  --mocha_green: rgb(166, 227, 161);
  --mocha_teal: rgb(148, 226, 213);
  --mocha_sky: rgb(137, 220, 235);
  --mocha_sapphire: rgb(116, 199, 236);
  --mocha_blue: rgb(137, 180, 250);
  --mocha_lavender: rgb(180, 190, 254);
  --mocha_text: rgb(205, 214, 244);
  --mocha_subtext1: rgb(186, 194, 222);
  --mocha_subtext0: rgb(166, 173, 200);
  --mocha_overlay2: rgb(147, 153, 178);
  --mocha_overlay1: rgb(127, 132, 156);
  --mocha_overlay0: rgb(108, 112, 134);
  --mocha_surface2: rgb(88, 91, 112);
  --mocha_surface1: rgb(69, 71, 90);
  --mocha_surface0: rgb(49, 50, 68);
  --mocha_base: rgb(30, 30, 46);
  --mocha_mantle: rgb(24, 24, 37);
  --mocha_crust: rgb(17, 17, 27);

  /* Frappe */

  /* Macchiato */
}

html,
body {
  background-color: #181825;
  font-family: "IBM Plex Mono", monspace;
  height: 100%;
}

math-svg {
  fill: var(--mocha_blue);
}
h1 {
  color: var(--mocha_mauve);
  font-weight: bolder;
  font-size: 48px;
}

li {
  font-weight: bold;
  font-size: 3em;
}
li:nth-of-type(1) {
  color: var(--mocha_blue);
  list-style-image: url("src/assets/math.svg");
}
li:nth-of-type(2) {
  color: var(--mocha_sapphire);
}
li:nth-of-type(3) {
  color: var(--mocha_sky);
}

li:nth-of-type(4) {
  color: var(--mocha_teal);
}

li:nth-of-type(5) {
  color: var(--mocha_green);
}

li:nth-of-type(6) {
  color: var(--mocha_yellow);
}

li:nth-of-type(7) {
  color: var(--mocha_peach);
}

li:nth-of-type(8) {
  color: var(--mocha_maroon);
}

li:nth-of-type(9) {
  color: var(--mocha_red);
}

.categories-container {
  font-size: 2em;
}

.icon {
  display: inline-flex;
  align-self: center;
  gap: 10px;
}

.icon svg {
  width: 1em;
  height: 1em;
}

.icon.baseline {
  top: 0.125em;
  position: relative;
}
.math-container .icon svg path {
  fill: var(--mocha_blue);
}
.math-container h1 {
  color: var(--mocha_blue);
}

.computing-container .icon svg {
  fill: var(--mocha_sapphire);
}
.computing-container h1 {
  color: var(--mocha_sapphire);
}

.books-container .icon svg {
  fill: var(--mocha_sky);
}
.books-container h1 {
  color: var(--mocha_sky);
}
.music-container .icon svg path {
  stroke: var(--mocha_teal);
}
.music-container h1 {
  color: var(--mocha_teal);
}

.nature-container .icon svg path {
  stroke: var(--mocha_green);
}
.nature-container h1 {
  color: var(--mocha_green);
}

.food-container .icon svg path {
  fill: var(--mocha_yellow);
  stroke: var(--mocha_yellow);
}
.food-container h1 {
  color: var(--mocha_yellow);
}

.travel-container .icon svg path {
  stroke: var(--mocha_peach);
}
.travel-container h1 {
  color: var(--mocha_peach);
}

.productivity-container .icon svg path {
  stroke: var(--mocha_maroon);
}
.productivity-container h1 {
  color: var(--mocha_maroon);
}

.tech-container .icon svg path {
  fill: var(--mocha_red);
}
.tech-container h1 {
  color: var(--mocha_red);
}
