---

import BaseLayout from "../layouts/BaseLayout.astro";---

<BaseLayout title="About">
    <div class = "mt-16">
        <h1 class = "text-(--mocha_red) text-4xl font-light">About</h1>
    </div>
</BaseLayout>
