<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>blog: home</title>
    <link rel = "blog-stylesheet", href = "src/styles/blog.css">
    <link rel = "global-stylesheet", href = "src/styles/global.css">
  </head>
  <body>

  </body>
</html>
