---
import BaseLayout from "../layouts/BaseLayout.astro"
import "./src/styles/global.css"
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---
<BaseLayout title="">
	<div class ="mt-24">
		<h1 class="text-(--mocha_text) text-4xl font-bold italic">G'Day,</h1>
		<p class = "text-(--mocha_text) mt-4">
			I'm Ragav Srinivasan, A university student based in Australia passionate about making a career with Computer Science and Mathematics!
		</p>
	</div>
</BaseLayout>
