---
import BaseLayout from "../layouts/BaseLayout.astro";
import Project from "../components/Project.astro";
---
<BaseLayout title="Projects">
	<div class = "mt-16">
		<h1 class = "text-(--mocha_green) text-4xl font-light">Projects</h1>
		<div class = "flex flex-col gap-8 mt-8">
			<Project title="CLI Password Manager" description = "A command line password manager entirely built using Rust!" />
			<Project title="Cloud Storage App" description = "A Full stack Application featuring a Golang backend, React Web-client and a Flutter Mobile app!"/>
		</div>

    </div>
</BaseLayout>
