---
import Github from "../assets/github.svg"
const {title} = Astro.props;
const {description} = Astro.props;
---
<div>
	<div class="flex flex-row gap-2">
		<h2 class = "text-2xl text-(--mocha_text) font-light">
			{title}
		</h2>
        <Github width={"22"} height={"auto"}/>
	</div>
    <p class = "text-(--mocha_overlay2)">
		{description}
	</p>
</div>


